@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#root {
    main {
        * {
            font-family: 'Roboto', sans-serif;
            font-size: 4vh;
        }
        span {
            font-size: 5vh;
            text-align: center;
        }
        form {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(6, 1fr);
            justify-content: center;
            align-items: center;
            padding: 30px;
            border-radius: 20px;
            background: white;
            width: 45vw;
            height: 55vh;

            input, button {
                height: 70%;
            }
            button {
                font-size: 2vw;
            }
        }
    }
}