@use "sass:math";
body {
    background-color: #252525;
    color: white;
    display: flex;
    margin: 5vh;
    align-items: center;
    justify-content: center;
    #slots {
        background-color: gray;
        height: 336px;
        width: 70vw;
        overflow: hidden;
        
        @keyframes spin {
            100% {
                transform: translateY(-2016px);
            }
        }
        
        img {
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}